body{
	font-family: apple chancery;
	margin: 0;
	
}
header{
background-color: darkred;
text-align: center;
padding-top: 50px;
padding-bottom: 50px;
}

h1, h2{
	font-size: 40px;
font-family: 'Libre Barcode 128 Text', cursive;
}

header h1{color: white;
	font-size: 50px;
font-family: 'Libre Barcode 128 Text', cursive;

}

header img{border-radius: 80px;
	width: 340px;
	border: 29px solid #483894;
}