body{
	font-family: apple chancery;
	margin: 0;
	
}
header{
background-color: darkred;
text-align: center;
padding-top: 50px;
padding-bottom: 50px;
}
header h1{color: white;

}

header img{border-radius: 550px;
	width: 300px;
	border: 10px solid #483894;
}